Tema 5/ValidacionXML/ejemplo1/ejemplo1.dtd

<!-- La ? significa que no es obligatorio -->
<!ELEMENT aviso (de,(para|cc)+,mensajes,direccion?)>
<!ELEMENT de (#PCDATA)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT cc (#PCDATA)>
<!-- Con el + puede haber 1 o mas y con el asterisco 0 o mas -->
<!ELEMENT mensajes (mensaje*)>
<!ELEMENT mensaje (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!-- <!ATTLIST mensaje tipo ID #REQUIRED> -->
<!ATTLIST mensaje tipo (facebook|whatsup|x) "facebook">
